html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  touch-action: pan-x pan-y;
  background-color: rgb(var(--main-color));
  margin: 0;
}

:root {
  --main-color: 143, 143, 143;
}

#menuOverlay {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 1;
  background-color: rgba(var(--main-color), 0.8);
  align-items: center; 
  justify-content: center;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

#menuOverlay.show {
  opacity: 1;
  visibility: visible;
}

#formLink {
  position: absolute;
  width: 60%;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#inputLink {
  position: absolute;
  width: 60%;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: none;
  outline: none;
  padding: 10px;
  text-align: center;
  font-size: x-large;
  color: rgb(var(--main-color));
}



#inputLink::selection {
  background: rgb(var(--main-color));
  color: white;
}

#canvas {
  z-index: 0;
  position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: 0;
   right: 0;
   margin: auto;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  
}

#appPage { 
  display: inherit; 
  height: 100vh; 
  align-items: center; 
  justify-content: center;
}

/* Color Palette */

#color-picker-palette {
  position: absolute;
  right: 10px;
  top: 10px;
}

#colorButton {
  width: 40px;
  height: 40px;
  border-radius: 20px; /* make the border radius half of the width and height */
  border: 2px solid white;
  margin: 2px;
}

/* Logo */
#logoImage {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 100px;
}